@*6月5日 http://www.chinatimes.com/realtimenews/ *@
@{
    Layout = "~/Views/Shared/Index02/_Layout.cshtml";
}

<section class="np_alllist">
    <header>
        <h3>即時總覽</h3>
    </header>
    <div class="clear-fix">
        <div class="listLeft">
            <ul><li class="tab on clear-fix"><a href="/@ViewData["channel"]/">即時總覽</a><span class="rwd">即時總覽</span><span>(415)</span><span class="arrow"></span></li><li class="clear-fix"><a href="/@ViewData["channel"]/260401"><span class="sub_icon"></span>焦點<span>(17)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260407"><span class="sub_icon"></span>政治<span>(43)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260405"><span class="sub_icon"></span>生活<span>(77)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260402"><span class="sub_icon"></span>社會<span>(46)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260404"><span class="sub_icon"></span>娛樂<span>(60)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260403"><span class="sub_icon"></span>運動<span>(39)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260410"><span class="sub_icon"></span>財經<span>(94)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260408"><span class="sub_icon"></span>國際<span>(17)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260409"><span class="sub_icon"></span>兩岸<span>(16)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260412"><span class="sub_icon"></span>科技<span>(1)</span></a></li><li class="clear-fix"><a href="/@ViewData["channel"]/260417"><span class="sub_icon"></span>軍事<span>(5)</span></a></li><li class="tab clear-fix"><a href="/@ViewData["channel"]/hot/">熱門總覽</a><span class="rwd">熱門總覽</span><span>(46)</span><span class="icon_16x16"><a href="/@ViewData["channel"]/hot/"></a></span><span class="arrow"></span></li><li class="tab clear-fix"><a href="/@ViewData["channel"]/recommend/">推薦總覽</a><span class="rwd">推薦總覽</span><span>(92)</span><span class="icon_16x16"><a href="/@ViewData["channel"]/recommend/"></a></span><span class="arrow"></span></li></ul>
        </div>
        <div class="listRight">
            <ul>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001702-260407" class="">
                            與長者提前歡度端午 林揆大跳活力健康操
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 10:33"><span class="h">10:33</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/11">中時稿件</a>
                    </div>

                    <div class="kindOf">
                        <a href="260407 ">
                            政治
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001702-260407">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001591-260404" class="">
                            他們都娶富千金！這些星岳父財力各個驚人
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 10:06"><span class="h">10:06</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/34">專題報導</a>
                    </div>

                    <div class="kindOf">
                        <a href="260404 ">
                            娛樂
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001591-260404">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001577-260403" class="">
                            NBA》真的假的？勇士願為杜蘭特打掉重練
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 10:02"><span class="h">10:02</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/16">@ViewData["site_name"]</a>
                    </div>

                    <div class="kindOf">
                        <a href="260403 ">
                            運動
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001577-260403">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001549-260407" class="">
                            阿扁裝病？柯文哲：他焦慮就會手抖
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 10:02"><span class="h">10:02</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/11">中時稿件</a>
                    </div>

                    <div class="kindOf">
                        <a href="260407 ">
                            政治
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001549-260407">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001532-260408" class="">
                            「救虎」行動收網 泰國虎廟22人起訴
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:59"><span class="h">09:59</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/11">中時稿件</a>
                    </div>

                    <div class="kindOf">
                        <a href="260408 ">
                            國際
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001532-260408">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001448-260405" class="">
                            教育部將公開遴選34名華語教師赴越南任教
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:57"><span class="h">09:57</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/11">中時稿件</a>
                    </div>

                    <div class="kindOf">
                        <a href="260405 ">
                            生活
                        </a>
                    </div>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001538-260405" class="">
                            想讓對方愛上你？ 專家不藏私獻5招術
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:57"><span class="h">09:57</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/16">@ViewData["site_name"]</a>
                    </div>

                    <div class="kindOf">
                        <a href="260405 ">
                            生活
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001538-260405">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001539-260403" class="">
                            MLB》天才小史千K達陣 國民卻輸球
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:55"><span class="h">09:55</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/16">@ViewData["site_name"]</a>
                    </div>

                    <div class="kindOf">
                        <a href="260403 ">
                            運動
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001539-260403">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001540-260401" class="">
                            桃機二航廈空調恢復 上午又跳電緊急搶修中
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:52"><span class="h">09:52</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/26">集團連線報導</a>
                    </div>

                    <div class="kindOf">
                        <a href="260401 ">
                            焦點
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001540-260401">圖片</a></span>
                </li>

                <li class="clear-fix">
                    <h2>
                        <a href="/@ViewData["channel"]/20160605001230-260408" class="">
                            阿里VS.李小龍 東西拳王誰最強？
                        </a>
                    </h2>
                    <div class="rt_info clear-fix">
                        <span class="icon_16x16"></span>
                        <time datetime="2016/06/05 09:44"><span class="h">09:44</span> 2016/06/05</time>
                        <a href="/@ViewData["channel"]/16">@ViewData["site_name"]</a>
                    </div>

                    <div class="kindOf">
                        <a href="260408 ">
                            國際
                        </a>
                    </div><span class="icon pic"><a href="/@ViewData["channel"]/20160605001230-260408">圖片</a></span>
                </li>


            </ul>
        </div>
    </div>
    <div class="pagination clear-fix">
        <ul>
            <li class="disabled">第一頁</li>
            <li class="disabled">上一頁</li>
            <li class="current">1</li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=2">2</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=3">3</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=4">4</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=5">5</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=6">6</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=7">7</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=8">8</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=9">9</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=10">10</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=2">下一頁</a></li>
            <li><a href="@(ViewData["main_url"].ToString()+ViewData["channel.ToString()"])/?page=42">最後一頁</a></li>
        </ul>
    </div>
</section>

