@*@model IEnumerable<ERP.Models.Vdr>*@
@model PagedList.IPagedList<ERP.Models.Vdr>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "廠商列表";
}

<h2>廠商列表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("List","Vdrs",FormMethod.Get))
{
    <p>
        Find by 編號/名稱: @Html.TextBox("Filter",(string)ViewData["Filter"])
        <input type="submit" value="搜尋" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrNo).ToString(), "List", new { SortOrder = ViewData["VdrNo_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrNa).ToString(), "List", new { SortOrder = ViewData["VdrNa_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrId).ToString(), "List", new { SortOrder = ViewData["VdrId_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrTel).ToString(), "List", new { SortOrder = ViewData["VdrTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrRmaTel).ToString(), "List", new { SortOrder = ViewData["VdrRmaTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrSalNa).ToString(), "List", new { SortOrder = ViewData["VdrSalNa_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrSalTel).ToString(), "List", new { SortOrder = ViewData["VdrSalTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrUrl).ToString(), "List", new { SortOrder = ViewData["VdrUrl_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrAdr).ToString(), "List", new { SortOrder = ViewData["VdrAdr_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrDtPay).ToString(), "List", new { SortOrder = ViewData["VdrDtPay_SortOrder"], Filter = ViewData["Filter"] })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VdrNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrNa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrRmaTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrSalNa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrSalTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrAdr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VdrDtPay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VdrNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.VdrNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VdrNo })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("List", new { page, SortOrder = ViewData["SortOrder"], Filter = ViewData["Filter"] }))


