@model PagedList.IPagedList<ERP.Models.Vdr>
@using PagedList.Mvc;
@using ERP.Helpers;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .ColumnToggleCbx{
        
    }

    .HighLight{
        color:red;
    }
</style>

@{
    string Title = "廠商列表";
    ViewBag.Title = Title;
}

<h2>@Title</h2>

@using (Html.BeginForm("List", "Vdrs", FormMethod.Get))
{
    <p>
        @Html.ActionLink("新增廠商", "Create")
        <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
        Find by 編號/名稱: @Html.TextBox("Filter", (string)ViewData["Filter"])
        <input type="submit" value="搜尋" />
    </p>
}

@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
@Html.PagedListPager(Model, page => Url.Action("List", new { page, SortOrder = ViewData["SortOrder"], Filter = ViewData["Filter"] }))

<table class="table">
    <tr>
        <th name="@Html.IdFor(model => model.First().VdrNo)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrNo).ToString(), "List", new { SortOrder = ViewData["VdrNo_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrNa)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrNa).ToString(), "List", new { SortOrder = ViewData["VdrNa_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrId)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrId).ToString(), "List", new { SortOrder = ViewData["VdrId_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrTel)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrTel).ToString(), "List", new { SortOrder = ViewData["VdrTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrRmaTel)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrRmaTel).ToString(), "List", new { SortOrder = ViewData["VdrRmaTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrSalNa)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrSalNa).ToString(), "List", new { SortOrder = ViewData["VdrSalNa_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrSalTel)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrSalTel).ToString(), "List", new { SortOrder = ViewData["VdrSalTel_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrUrl)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrUrl).ToString(), "List", new { SortOrder = ViewData["VdrUrl_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrAdr)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrAdr).ToString(), "List", new { SortOrder = ViewData["VdrAdr_SortOrder"], Filter = ViewData["Filter"] })
        </th>
        <th name="@Html.IdFor(model => model.First().VdrDtPay)">
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().VdrDtPay).ToString(), "List", new { SortOrder = ViewData["VdrDtPay_SortOrder"], Filter = ViewData["Filter"] })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td name="@Html.IdFor(model => model.First().VdrNo)">
                @Html.HightlightKeyWord(Html.DisplayFor(modelItem => item.VdrNo).ToHtmlString(), (string)ViewData["Filter"], "HighLight")
            </td>
            <td name="@Html.IdFor(model => model.First().VdrNa)">
                @Html.HightlightKeyWord(Html.DisplayFor(modelItem => item.VdrNa).ToHtmlString(), (string)ViewData["Filter"], "HighLight")
            </td>
            <td name="@Html.IdFor(model => model.First().VdrId)">
                @Html.DisplayFor(modelItem => item.VdrId)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrTel)">
                @Html.DisplayFor(modelItem => item.VdrTel)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrRmaTel)">
                @Html.DisplayFor(modelItem => item.VdrRmaTel)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrSalNa)">
                @Html.DisplayFor(modelItem => item.VdrSalNa)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrSalTel)">
                @Html.DisplayFor(modelItem => item.VdrSalTel)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrUrl)">
                @Html.DisplayFor(modelItem => item.VdrUrl)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrAdr)">
                @Html.DisplayFor(modelItem => item.VdrAdr)
            </td>
            <td name="@Html.IdFor(model => model.First().VdrDtPay)">
                @Html.DisplayFor(modelItem => item.VdrDtPay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VdrNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.VdrNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VdrNo })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("List", new { page, SortOrder = ViewData["SortOrder"], Filter = ViewData["Filter"] }))
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@*Toggle欄位*@
<div style="position:absolute;top:262px;right:0px">
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrNo" id="VdrNo" checked onclick="ColumnToggle(this)" />
        <label for="VdrNo">
            @Html.DisplayNameFor(model => model.First().VdrNo)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrNa" id="VdrNa" checked onclick="ColumnToggle(this)" />
        <label for="VdrNa">
            @Html.DisplayNameFor(model => model.First().VdrNa)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrId" id="VdrId" checked onclick="ColumnToggle(this)" />
        <label for="VdrId">
            @Html.DisplayNameFor(model => model.First().VdrId)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrTel" id="VdrTel" checked onclick="ColumnToggle(this)" />
        <label for="VdrTel">
            @Html.DisplayNameFor(model => model.First().VdrTel)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrRmaTel" id="VdrRmaTel" checked onclick="ColumnToggle(this)" />
        <label for="VdrRmaTel">
            @Html.DisplayNameFor(model => model.First().VdrRmaTel)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrSalNa" id="VdrSalNa" checked onclick="ColumnToggle(this)" />
        <label for="VdrSalNa">
            @Html.DisplayNameFor(model => model.First().VdrSalNa)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrSalTel" id="VdrSalTel" checked onclick="ColumnToggle(this)" />
        <label for="VdrSalTel">
            @Html.DisplayNameFor(model => model.First().VdrSalTel)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrUrl" id="VdrUrl" checked onclick="ColumnToggle(this)" />
        <label for="VdrUrl">
            @Html.DisplayNameFor(model => model.First().VdrUrl)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrAdr" id="VdrAdr" checked onclick="ColumnToggle(this)" />
        <label for="VdrAdr">
            @Html.DisplayNameFor(model => model.First().VdrAdr)
        </label>
    </div>
    <div class="ColumnToggleCbx">
        <input type="checkbox" name="CbxVdrDtPay" id="VdrDtPay" checked onclick="ColumnToggle(this)" />
        <label for="VdrDtPay">
            @Html.DisplayNameFor(model => model.First().VdrDtPay)
        </label>
    </div>
</div>

<script>
    //顯示或隱藏欄位
    function ColumnToggle(me) {
        if (document.getElementById(me.id).checked) {
            var obj = document.getElementsByName(me.id)
            for (var i = 0; i < obj.length; i++) {
                obj[i].style.display = "table-cell"
            }
        }
        else {
            var obj = document.getElementsByName(me.id)
            for (var i = 0; i < obj.length; i++) {
                obj[i].style.display = "none"
            }
        }
    }
</script>